@import '../../../Shared.scss';

.menu{
  display: flex;
  flex-direction: column;
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  gap: 20px;
  padding: 20px;
  z-index: 100;
  position: fixed;
  top:30px;

  &_link{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    color: $White;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    text-align: center;

    &:hover{
      opacity: 1;
    }

  }
}
