@import '../../Shared.scss';

@media screen and (max-width: 768px){
  .navbar{
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    user-select: none;
    backdrop-filter: blur(10px);
    z-index: 100;
    &_logo{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      height: 100%;
      width: 100%;
      justify-content:center;

      &:hover > &_icon{
        opacity: 1;
      }
      &:hover > &_text{
        opacity: 1;
      }
      &_icon{
        transition: all 0.3s ease-in-out;
        opacity: 0.5;
        width: 24px;
        aspect-ratio: 1/1;
        margin-left: calc(12px + 24px);

        &:hover{
          opacity: 1;
        }
      }

    }

    &_hamburger{
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;
    }
  }

}


@media screen and (min-width: 768px){
  .navbar{
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 calc(12.5% + 30px);
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    user-select: none;
    backdrop-filter: blur(10px);
    z-index: 100;


    &_logo{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      height: 100%;

      &:hover > &_icon{
        opacity: 1;
      }
      &:hover > &_text{
        opacity: 1;
      }
      &_icon{
        transition: all 0.3s ease-in-out;
        opacity: 0.5;
        width: 24px;
        aspect-ratio: 1/1;

        &:hover{
          opacity: 1;
        }
      }

      &_text{
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        text-transform: uppercase;
        color: $White;
        font-weight: 700;
        padding-top: 4px;
        line-height: 1px;

        &:hover{
          opacity: 1;
        }
      }

    }


    &_links{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: end;
      gap: 10px;

      &_link{
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        color: $White;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
        width: 100%;
        text-align: center;
      }

    }
  }
}
.Navbar_Progress{
  position: fixed;
  top: 30px;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, $Purple, $Light-purple); // pink to purple
  width: 0%;
  z-index: 9999;
  transition: width 0.1s ease-out;
}
