@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: 'Overpass', sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}


/**
*
*    COLORS
*
*/

$Background: #04040C;

$Dark-purple: #8771C5;
$Light-purple: #B8B1D3;
$Glow-purple: #D2CFDF;
$Purple: #9487C3;

$Divider-purple: #D2CFDF;
$Divider-gradient: linear-gradient(to right, rgba($Divider-purple, 0), rgba($Divider-purple, 1), rgba($Divider-purple, 0));

$Divider-purple-0: #D2CFDF00;
$Light-purple-0: #B8B1D300;
$Light-purple-10: #B8B1D31a;
$Purple-0: #9487C300;

$White: #FFFFFF;
$White-50: #FFFFFF80;
$White-25: #FFFFFF40;


$Input-background: linear-gradient(to bottom, rgba($Light-purple, 0.1), rgba($Purple, 0));
/**
*
*    FILTERS
*
*/

$Unsaturated: saturate(0);
$Saturated: saturate(1);

$Icon-purple: invert(76%) sepia(20%) saturate(319%) hue-rotate(212deg) brightness(96%) contrast(81%);


/**
*
*    MIXINS
*
*/

@mixin textGradient($color1, $color2){
  background: linear-gradient(to right, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
